/*
.grid-height {
  height: 550px;
}
*/

.stat-cell {
  width: 25px
}

.avg-cell {
  width: 40px
}

.avgbig-cell {
  width: 50px
}

.jersey-cell {
  width: 25px;
}

.name-cell {
  width: 125px;
}

.jumbotron {
  background-color: white;
  color: black;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media only screen and (max-width: 992px) {
  .jumbotron {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  
  h2 {
    font-size: 14pt;
  }
}


.pride-logo {
  height: 50px;
}

.k-tabstrip-items {
  background-color: black;
  color: red;
}

.k-tabstrip-items .k-state-default .k-link {
  color: white;
  background-color: black;
}


.k-tabstrip-items .k-state-active .k-link {
  background-color: white;
  color: red;
}

.k-tabstrip-items .k-state-hover .k-link {
  color: white;
  background-color: red;
  border-color: red
}

.filterRow {
  margin-bottom: 10px
}